.block-order{
	color: #20436b;
	margin: 30px 0px;
	margin: 20px 0px; padding: 30px;
	box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.08);
	line-height: 1.5;
	@include border(solid, 1px, #d4d4d4, 5px);
	h5{
		color: #499cf8; font-size: 22px;
	}
	a{
		
	}
	i{
		color: #6cd164; font-size: 26px;
		position: relative; top: 5px;
		padding-right: 10px;
	}
	.data-order{
		padding: 10px 0px;
	}
	.options-order{
		color: #000;
		a{
			color: #499cf8;
		}
	}
	.label-info{
		font-size: 90%;
	}
	.actions-order{
		margin: 15px -15px;
	}
	.text-order{
		margin: 20px -15px;
		a.link-more{
			color: #499cf8; border-bottom: dotted 1px #499cf8;
		}
		.more-text{
			margin: 20px 0px;
		}
	}
	.buttons-order{
		margin: 20px -15px;
	}
}

.buttons{
	a{
		font-size: 18px; color: #444;
		border: solid 1px #444; border-radius: 100px;
		margin: 0px 5px;
		height: 45px; width: 45px;
		padding-top: 10px;
	}
}

.dialog-widget{
	border-top: 1px solid #e5e5e5;
	padding-top: 25px; margin-top: 25px;
}

#dialogModal{
	.close{
		font-size: 30px;
	}
	.modal-dialog{
		width: 60%;
		.modal-content{
			border-radius: 0px;
			.modal-header{
				padding: 10px;
				height: 45px;
			}
			.form-group{
				width: 100%; 
				textarea{
					height: 100px; width: 100%;
				}
			}
		}
	}
}

/*.list-dialog{
	max-height: 350px;
	overflow: auto;
	.dialog-message{
		border: 1px solid #36a3ff;
		border-radius: 10px;
		padding: 20px;
		position: relative;
		&:before, &:after{
			content: ''; 
			position: absolute;
			left: 20px; bottom: -20px;
			border: 10px solid transparent;
			border-top: 10px solid #36a3ff;
		}
		&:after{
			border-top: 10px solid #fff;
			bottom: -19px;
		}
   }
}*/

.list-dialog{
	max-height: 350px;
	overflow: auto;
	.dialog-message, .dialog-message-user{
		background: #F3F8FC;
		border: 2px solid #36a3ff;
		border-radius: 5px;
		padding: 5px 10px;
		margin: 7px 0px;
		
		position: relative;
		background-color: #f3f8fc;
		border: 2px solid #c6dfed;
		&:after{
			position: absolute;
			display: block;
			content: "";
			width: 12px; height: 12px;
			border: 2px solid #ececec;
			background-color: #f3f8fc;
			border-color: #c6dfed;
			top: 15px; 

			border-bottom: 0;
			border-right: 0;
			
			left: -8px; right: auto;
			transform: rotate(-45deg);
		}
		/*&:before, &:after{
			right: 100%;
			top: 35%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		&:after{
			border-color: rgba(255, 255, 255, 0);
			border-right-color: #fff;
			border-width: 10px;
			margin-top: -10px;
		}		
		&:before {
			border-color: rgba(54, 163, 255, 0);
			border-right-color: #36a3ff;
			border-width: 11px;
			margin-top: -11px;
		}*/
   }
	.dialog-message-user{
		&:after{
			right: -8px; left: auto;
			transform: rotate(135deg);
			
		}
		/*&:before, &:after{
			left: 100%;

		}
		&:after{
			border-left-color: #fff;
			border-right-color: #fff;
		}
		&:before{
			border-left-color: #36a3ff;
			border-right-color: #fff;
		}*/
	}
	
	.dialog-message{
		@include fontF($arimo, 14px, 600, #20436b);
	}
	.dialog-none{
		&:after{
			content: none;
		}
	}
	span{
		font-size: 10px;
		padding: 5px 0px;
		display: block;
		color: #7d7d7d;
	}
	label{
		padding: 20px;
	}
}

.user-panel{
	margin-top: 40px;
}

.block-user{
	padding-bottom: 20px;
	@include bxshadow;
	img{
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		max-width: 100%;
	}
	label{
		display: block;
		text-align: center;
		padding: 10px 0px;
		@include fontF($arimo, 16px, 800, #20436b);
	}
	a{
		display: block; width: 75%;
		background: #499cf8;
		border-radius: 5px;
		margin: 0 auto;
		padding: 5px 20px;
		text-align: center; text-decoration: none;
 		@include fontF($arimo, 16px, 800, #fff);
		@include delay;
		&:hover{
			@include delay;
			background: #9ac9fd;
		}
	}
	
}
.list-orders-panel{
	//margin: 0px 5px; 
	padding: 20px 0px !important;
	margin-bottom: 30px;
	@include bxshadow;
	h4{
		text-align: center;
 		@include fontF($arimo, 24px, 800, #499cf8);
	}
	a.create-order{
		display: block; width: 50%;
		background: #499cf8;
		border-radius: 5px;
		margin: 0 auto;
		padding: 5px 20px;
		text-align: center; text-decoration: none;
		@include fontF($arimo, 16px, 800, #fff);
		@include delay;
		&:hover{
			@include delay;
			background: #3891f4;
		}
	}
	.block-order{
		color: #20436b;
		box-shadow: 0px 0px 7.44px 0.56px rgba(30, 30, 30, 0.1);
		margin: 10px 0px; padding: 0px 25px;
		margin: 15px;
		@include fontF($arimo, 12px, 400, #20436b);
		h5{
			@include fontF($arimo, 14px, 800, #499cf8);
		}
		i{
			position: static;
			font-size: 18px;
		}
	}
	.empty{
		display: block;
		text-align: center;
		padding: 15px; padding-bottom: 40px;
	}
}

.how-work{
	margin: 0px 5px; padding: 20px 15px; margin-bottom: 30px;
	@include bxshadow;
	text-align: center;
	h5{
 		@include fontF($arimo, 24px, 800, #499cf8);
	}
	p{
		@include fontF($arimo, 16px, 800, #4474ab);
	}
	label{
		display: block;
		background: #5eb5ff;
		@include fontF($arimo, 10px, 800, #fff);
		padding: 45px 10px 15px;
	}
	.row{
		margin: 0px  -10px;
	}
	.work-block{
		padding: 0px 5px;
	}
	.image-work{
		width: 70px; height: 70px;
		background: #fff;
		margin: 0 auto;
		position: relative; top: 35px;
		border: solid 4px #36a3ff;
		border-radius: 35px;
		
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.rate-form{
	margin: 20px 0px;
}
.rates-block{
	h1, h2, h3, h4, h5{
		padding: 0px; margin: 0px;
	}
}

.list-orders{
	padding: 0px 10px;
}

.rates-block-order{
	background: #ededed;
	background: #F3F8FC;
	border: 2px solid #36a3ff;
	padding: 15px 10px;
	margin: 15px -15px;
	@include fontF($arimo, 16px, 400, #20436b);
	h4{
		@include fontF($arimo, 24px, 400, #20436b);
	}
	a{
		@include fontF($arimo, 16px, 400, #fff);
	}
	a.files-solutions{
		@include fontF($arimo, 16px, 400, #20436b);
	}
}

.label-margin{
	display: inline-block;
	margin: 10px 0px;
}

#orders-platform-form{
	.chosen-container-single .chosen-single{
		padding: 4px 0px 0 10px;
		height: 35px;
		font-size: 14px;
	}
}