$arimo: 'Arimo';

@font-face{
    font-family: $arimo;
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?oco8yz');
	src:  url('../fonts/icomoon.eot?oco8yz#iefix') format('embedded-opentype'),
			url('../fonts/icomoon.ttf?oco8yz') format('truetype'),
			url('../fonts/icomoon.woff?oco8yz') format('woff'),
			url('../fonts/icomoon.svg?oco8yz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-garbage:before {
  content: "\e901";
}
.icon-contract:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-forward:before {
  content: "\e969";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}