/*------------------------------------------------------------------
[ Shortcuts / .shortcuts ]
*/
/*
.form-group{
	width: 100%;
	input, input[type="submit"], button[type="submit"]{
		background: #fff;
		border: solid 1px #499cf8;
		border-radius: 5px;
		width: 100%;
		display: block;
		margin: 10px 0px;
	}
}

input, input[type="submit"], button[type="submit"], textarea, select{
	border: solid 1px #499cf8;
	border-radius: 5px;
	width: 100%;
	display: block;
	margin: 10px 0px;
}
input[type="submit"], button[type="submit"]{
	background: #499cf8;
	&:hover{
		background: #0068cc;
	}
}
input[type="checkbox"]{
	display: inline-block;
	width: 30px;
	margin: 0px;
}*/

@mixin delay{
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}


@mixin fontF($font, $size, $weight, $color){
	font-family: $font; font-size: $size; font-weight: $weight;  color: $color;
}

@mixin bxshadow{
	border-radius: 15px;
	background-color: rgb(249, 249, 249);
	box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
}

@mixin border($style, $width, $color, $radius){
	border-style: $style; border-width: $width; border-color: $color; border-radius: $radius;
}

.content-site {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.form-control {
  border-radius: 0px;
}

.shortcuts {
  text-align: left;
}

.grid-action-column .btn-group {
  display: flex;
}

.shortcuts {
  .shortcut {
    min-height: 114px;
    text-align: center;
    width: 114px;
    display: inline-block;
    padding: 12px 0;
    margin: 0 5px 1em;
    vertical-align: top;
    text-decoration: none;
    background: #F3F3F3;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 5px;
    .shortcut-icon {
      width: 100%;
      margin-top: .25em;
      margin-bottom: .35em;
      font-size: 32px;
      color: #555;
    }
    &:hover {
      background: #E8E8E8;
      background-color: #f0f0f0;
      background-repeat: repeat-x;
      .shortcut-icon {
        color: #666;
      }
    }
  }
  .shortcut-label {
    display: block;
    font-weight: 400;
    color: #666;
    margin-top: 5px;
  }
}

.action-nav-button {
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
  text-align: center;
  min-height: 114px;
  width: 114px;
  display: inline-block;
}

a.shortcut {
  position: relative;
}

#page .shortcut .label i {
  margin-right: 2px;
  color: #fff;
}

.shortcut {
  .label {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 5px;
    display: block;
    font-size: 100%;
  }
  .cn {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 114px;
    height: 88px;
  }
}

.avatar{
	background: none;
}
/* General Style */

.error .redactor_box {
  border: 1px rgb(149, 59, 57) solid;
  -webkit-box-shadow: 0 0 6px rgb(213, 147, 146);
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px rgb(213, 147, 146);
}

html, body {
  height: 100%;
}

#overall-wrap {
  min-height: 100%;
  margin: 0 auto -91px;
}

.navbar-fixed-top {
	//border-bottom: 2px solid #FF9600;
	height: 70px;
	background: #3572b5;
	z-index: 1055;
	color: #aed8ff;
	a, label, i, span{
		color: #aed8ff !important;
	}	
	ul{
		li{
			ul{
				li{
					a, label, i, span{
						color: #000 !important;
					}
				}
			}
		}
	}
}

.navbar-fixed-bottom {
  z-index: 1055;
}

footer {
  clear: both;
  text-align: center;
  height: 91px;
  padding: 5px 0 5px;
  border-top: 1px solid #E5E5E5;
  line-height: 18px;
  color: #9D9D9D;
  font-size: 12px;
  background: #f8f8f8;
}

#footer-guard {
  height: 120px;
}

div#page {
	padding-top: 60px;
	padding-top: 80px;
	padding-bottom: 50px;
}

.navbar-brand {
  padding: 7px 15px 15px 15px;
}
.navbar-nav{
  margin-top: 10px;
  margin-top: 9px;
}

.nav-list > {
  li {
    margin: 0 15px;
  }
  .active > a {
    background-color: #0088CC;
    color: #FFFFFF;
    &:hover, &:focus {
      background-color: #0088CC;
      color: #FFFFFF;
    }
  }
}

.nav li.nav-header {
  color: #999999;
  margin: 0;
}

.nav-list {
  li.nav-header {
    color: #999999;
    margin: 0;
  }
  > li > a {
    color: #000;
    margin: 0 -15px;
  }
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
}

li.nav-header a {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  pointer-events: none;
  cursor: default;
  margin: 0 -15px;
  color: inherit;
}

/* fix submenu bootstrap 3 */

.dropdown-submenu {
  position: relative;
  > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
  }
  &:hover {
    > .dropdown-menu {
      display: block;
    }
    > a:after {
      border-left-color: #ffffff;
    }
  }
  > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
  }
  &.pull-left {
    float: none;
    > .dropdown-menu {
      left: -100%;
      margin-left: 10px;
      -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px;
    }
  }
}

table .button-column {
  white-space: nowrap;
}

.button-column a, td.toggle-column a {
  color: #333;
  text-decoration: none;
}

.table-vmiddle td {
  vertical-align: middle;
}

#page {
  [class*='icon-'].icon-white {
    color: #fff;
  }
  a:hover [class*='icon-'] {
    color: inherit;
  }
}

.popover {
  min-width: 300px;
}

.popover-title {
  white-space: nowrap;
}

.popover-content {
  width: 100%;
  .body {
    width: 100%;
  }
}

.datepicker {
  z-index: 100 !important;
}

.ui-sortable tr {
  cursor: move;
  background: #fff;
}

.nav-tabs {
  margin-bottom: 10px;
}

input.form-control[type="file"] {
  background: inherit;
}

.treeview .checkbox {
  margin: 0;
}

/* постраничная навигация в гридах */

.pager-container {
  //position: absolute;
  .pagination {
    margin: 26px 0 0 0;
  }
}

/* Override redactor styles */

.redactor-toolbar-tooltip {
  z-index: 1055;
}

/* Modal */

.modal-backdrop {
  z-index: 1057;
}

.modal {
  z-index: 1058;
}

/* грид */

.grid-toolbar {
  height: 40px;
  padding-left: 0px;
}

/*navbar*/

.navbar-default .navbar-nav > li > a {
  padding: 15px 5px;
}

.navbar-brand {
  padding: 7px 5px 15px 15px;
}

/* Начала блока комментариев */

.comments-section {
  font: 13px arial, helvetica, sans-serif;
  color: #333333;
}

.comments-section-count-feed {
  padding: 0 0 0 7px;
  font-size: 24px;
  font-weight: normal;
}

.comments-add-form {
  padding: 0 0 0 86px;
  position: relative;
  margin: 0 0 -10px 0;
}

.comments-add-text textarea {
  background: #f5f5f5;
  padding: 0 15px;
  margin: 0 0 0 -34px;
  line-height: 36px;
  height: 36px;
  width: 100%;
  border: 1px solid #eeeeee;
  resize: none;
  box-shadow: -1px -1px 0 #dddddd, 1px -1px 0 #dddddd, 0px -2px 0 #c6c6c6, -1px -2px 0 #c6c6c6, 1px -2px 0 #c6c6c6;
}

.comments-item {
  position: relative;
  margin: 20px 0 0 0;
}

.comments-item-avatar, .comments-add-ava {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}

.comments-item-avatar img, .comments-add-ava img {
  width: 38px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
}

.comments-item-main {
  padding: 0 0 0 54px;
}

.comments-item-author {
  padding: 0px 0 7px 0;
  font-weight: bold;
  font-size: 15px;
  color: #8f8f8f;
  a {
    color: #8f8f8f;
  }
}

.comments-item-top {
  color: #a5a5a5;
  font-size: 14px;
  a {
    color: #a5a5a5;
    font-size: 14px;
  }
}

.comments-item-info {
  overflow: hidden;
  display: block;
}

.comments-item-date {
  padding: 0 0 0 22px;
  line-height: 20px;
  font-weight: normal;
  height: 15px;
  background: url('../images/cal-reply.png') no-repeat 0 0;
}

.comments-item-reply {
  float: right;
  padding: 0 0 0 24px;
  height: 14px;
  line-height: 14px;
  background: url('../images/cal-reply.png') no-repeat 0 -15px;
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.comments-item-message {
  padding: 5px 0;
  font-size: 13px;
  color: #333333;
  line-height: 19px;
  overflow: hidden;
}

/* Вложенные комментарии */

.comments-item-child {
  background: #f5f5f5;
  margin: 10px 0 0 0;
  .comments-item-main {
    &:before {
      display: block;
      content: '';
      background: url('../images/comment-marker.png') no-repeat;
      width: 34px;
      height: 13px;
      margin: -31px 0 18px 0;
    }
    margin: 18px 20px;
    padding: 18px 0 10px 54px;
  }
  .comments-item-avatar {
    left: 20px;
    top: 18px;
  }
  .comments-item-date {
    background-position: 0 -29px;
  }
}

.preview-image-wrapper {
  display: inline-block;
  position: relative;
  button {
    opacity: 0.9;
  }
  .dropdown-menu {
    min-width: 350px;
  }
}

.image-settings {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 99;
}

.btn-group .btn {
  margin-left: -1px;
}

#news-form .ct-form-control {
  min-width: 100px;
}

.grid-view {
  .headline {
    float: right;
    margin-top: 26px;
  }
  .grid-toolbar {
    padding-right: 0;
    button {
      float: right;
    }
    #copy-products {
      margin-right: 8px !important;
    }
  }
}

.header-account, .header-panel {
  height: 60px;
  background: #3572b5;
	ul{
		li{
			ul{
				li{
					a{
						color: #000;
					}
				}
			}
		}
	}
}

.header-account .logo, .header-panel .logo {
  margin-top: 5px;
}

.header-account .play, .header-panel .play {
  color: #aed8ff;
  margin: 13px 0px;
}

.header-account .play a, .header-panel .play a {
  color: #aed8ff;
  font-weight: 400;
  font-size: 22px;
}

.header-account .play i, .header-panel .play i {
  position: relative;
  top: 2px;
  font-size: 30px;
  color: #76b5fa;
  padding: 0px 10px;
}

.footer{
  background: #449bff;
  padding: 15px 0px;
  color: #fff;
  margin-top: 50px; padding-top: 30px;
  .row {
    margin: 0px !important;
  }
  a {
    color: #fff;
  }
  .copyright {
    font-size: 18px;
    p {
      display: inline-block;
    }
  }
  .dc56 {
    color: #fff;
    margin-top: -20px;
    a {
      float: right;
      display: block;
      width: 225px;
      color: #fff;
      font-size: 16px;
      p {
        line-height: 1.5 !important;
      }
    }
    svg {
      height: 40px;
      margin-top: 15px;
    }
    p {
      float: right;
      padding-top: 10px;
      line-height: 1.5 !important;
    }
  }
}
.howwork{
	margin-left: 50px;
	font-size: 24px;
	margin-top: -4px;
}

.panel-container{
	//background: rgba(244,244,244,0.7);
}

.page-header{
	margin: 0px;
	h1{
		color: #499cf8; font-size: 24px; font-weight: bold;
	}
}

.page-header-bottom{
	margin-bottom: 25px;	
}

.menu-navbar{
	ul{
		li{
			a{
				@include fontF($arimo, 18px, 800, #acd7ff);
				color: #acd7ff !important; font-weight: bold !important;
				padding: 10px 25px !important;
				margin-top: 5px;
				&.orderLink{
					background: #499cf8;
					border-radius: 5px;
					color: #fff !important;
					@include delay;
					&:hover{
						@include delay;
						background: #6bb1ff;
					}
				}
				&.howwork{
					position: relative;
					padding-left: 70px !important;
					i{
						position: absolute; top: -5px; left: 0px;
						font-size: 50px;
					}
				}
			}
			&.active{
				a{
					background: none !important;
				}
/*				a{
					background: #499cf8 !important;
					border-radius: 5px;
					&:focus{
						background: #499cf8;
					}
				}*/
			}
		}
	}
	.container-fluid{
		//max-width: 1200px;
		.navbar-header{
			width: 200px;
		}
	}
}

.panel-menu{
	color: #20436b;
	ul{
		list-style: none;
		padding: 0px;
		li{
			padding: 10px 0px;
			color: #20436b; font-size: 18px;
			font-weight: bold;
			i{
				display: block; width: 45px;
				float: left; text-align: center;
				font-size: 22px; color: #3572b5;
			}
			a{
				@include fontF($arimo, 18px, 800, #20436b);
				&:hover{
					color: #499cf8;
					text-decoration: none;
				}
			}
			ul{
				margin-left: 45px; margin-top: 10px;
				li{
					font-size: 14px; font-weight: 300;
					padding: 2px 0px;
					a{
						@include fontF($arimo, 14px, 400, #499cf8);
						&:hover{
							color: #3572b5;
						}
					}
				}
			}
		}
	}
}

.menu-navbar-admin{
	ul{
		li{
			a{
				padding: 10px 10px !important;
			}
		}
	}
	.container-fluid{
		max-width: 100%;
		.navbar-header{
			width: auto;
		}
	}
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background: none;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 5px;
}

.avatar-menu{
	width: 30px;
	border-radius: 30px;
}

.navbar-balance{
	padding-right: 30px;
}

.tabs-order{
	margin: 25px 15px;
}