@charset "UTF-8";
@font-face {
  font-family: "Arimo"; }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?oco8yz");
  src: url("../fonts/icomoon.eot?oco8yz#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?oco8yz") format("truetype"), url("../fonts/icomoon.woff?oco8yz") format("woff"), url("../fonts/icomoon.svg?oco8yz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-garbage:before {
  content: "\e901"; }

.icon-contract:before {
  content: "\e900"; }

.icon-pencil:before {
  content: "\e905"; }

.icon-pencil2:before {
  content: "\e906"; }

.icon-forward:before {
  content: "\e969"; }

.icon-reply:before {
  content: "\e96a"; }

.icon-bubbles:before {
  content: "\e96c"; }

.icon-bubbles2:before {
  content: "\e96d"; }

.icon-bubbles4:before {
  content: "\e970"; }

.icon-user-check:before {
  content: "\e975"; }

.icon-cog:before {
  content: "\e994"; }

.icon-cogs:before {
  content: "\e995"; }

.icon-cross:before {
  content: "\ea0f"; }

.icon-checkmark:before {
  content: "\ea10"; }

.icon-checkmark2:before {
  content: "\ea11"; }

/*------------------------------------------------------------------
[ Shortcuts / .shortcuts ]
*/
/*
.form-group{
	width: 100%;
	input, input[type="submit"], button[type="submit"]{
		background: #fff;
		border: solid 1px #499cf8;
		border-radius: 5px;
		width: 100%;
		display: block;
		margin: 10px 0px;
	}
}

input, input[type="submit"], button[type="submit"], textarea, select{
	border: solid 1px #499cf8;
	border-radius: 5px;
	width: 100%;
	display: block;
	margin: 10px 0px;
}
input[type="submit"], button[type="submit"]{
	background: #499cf8;
	&:hover{
		background: #0068cc;
	}
}
input[type="checkbox"]{
	display: inline-block;
	width: 30px;
	margin: 0px;
}*/
.content-site {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  position: relative; }

.form-control {
  border-radius: 0px; }

.shortcuts {
  text-align: left; }

.grid-action-column .btn-group {
  display: flex; }

.shortcuts .shortcut {
  min-height: 114px;
  text-align: center;
  width: 114px;
  display: inline-block;
  padding: 12px 0;
  margin: 0 5px 1em;
  vertical-align: top;
  text-decoration: none;
  background: #F3F3F3;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 5px; }
  .shortcuts .shortcut .shortcut-icon {
    width: 100%;
    margin-top: .25em;
    margin-bottom: .35em;
    font-size: 32px;
    color: #555; }
  .shortcuts .shortcut:hover {
    background: #E8E8E8;
    background-color: #f0f0f0;
    background-repeat: repeat-x; }
    .shortcuts .shortcut:hover .shortcut-icon {
      color: #666; }
.shortcuts .shortcut-label {
  display: block;
  font-weight: 400;
  color: #666;
  margin-top: 5px; }

.action-nav-button {
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
  text-align: center;
  min-height: 114px;
  width: 114px;
  display: inline-block; }

a.shortcut {
  position: relative; }

#page .shortcut .label i {
  margin-right: 2px;
  color: #fff; }

.shortcut .label {
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 5px;
  display: block;
  font-size: 100%; }
.shortcut .cn {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 114px;
  height: 88px; }

.avatar {
  background: none; }

/* General Style */
.error .redactor_box {
  border: 1px #953b39 solid;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392; }

html, body {
  height: 100%; }

#overall-wrap {
  min-height: 100%;
  margin: 0 auto -91px; }

.navbar-fixed-top {
  height: 70px;
  background: #3572b5;
  z-index: 1055;
  color: #aed8ff; }
  .navbar-fixed-top a, .navbar-fixed-top label, .navbar-fixed-top i, .navbar-fixed-top span {
    color: #aed8ff !important; }
  .navbar-fixed-top ul li ul li a, .navbar-fixed-top ul li ul li label, .navbar-fixed-top ul li ul li i, .navbar-fixed-top ul li ul li span {
    color: #000 !important; }

.navbar-fixed-bottom {
  z-index: 1055; }

footer {
  clear: both;
  text-align: center;
  height: 91px;
  padding: 5px 0 5px;
  border-top: 1px solid #E5E5E5;
  line-height: 18px;
  color: #9D9D9D;
  font-size: 12px;
  background: #f8f8f8; }

#footer-guard {
  height: 120px; }

div#page {
  padding-top: 60px;
  padding-top: 80px;
  padding-bottom: 50px; }

.navbar-brand {
  padding: 7px 15px 15px 15px; }

.navbar-nav {
  margin-top: 10px;
  margin-top: 9px; }

.nav-list > li {
  margin: 0 15px; }
.nav-list > .active > a {
  background-color: #0088CC;
  color: #FFFFFF; }
  .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    background-color: #0088CC;
    color: #FFFFFF; }

.nav li.nav-header {
  color: #999999;
  margin: 0; }

.nav-list li.nav-header {
  color: #999999;
  margin: 0; }
.nav-list > li > a {
  color: #000;
  margin: 0 -15px; }

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase; }

li.nav-header a {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  pointer-events: none;
  cursor: default;
  margin: 0 -15px;
  color: inherit; }

/* fix submenu bootstrap 3 */
.dropdown-submenu {
  position: relative; }
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px; }
  .dropdown-submenu:hover > .dropdown-menu {
    display: block; }
  .dropdown-submenu:hover > a:after {
    border-left-color: #ffffff; }
  .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px; }
  .dropdown-submenu.pull-left {
    float: none; }
    .dropdown-submenu.pull-left > .dropdown-menu {
      left: -100%;
      margin-left: 10px;
      -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px; }

table .button-column {
  white-space: nowrap; }

.button-column a, td.toggle-column a {
  color: #333;
  text-decoration: none; }

.table-vmiddle td {
  vertical-align: middle; }

#page [class*='icon-'].icon-white {
  color: #fff; }
#page a:hover [class*='icon-'] {
  color: inherit; }

.popover {
  min-width: 300px; }

.popover-title {
  white-space: nowrap; }

.popover-content {
  width: 100%; }
  .popover-content .body {
    width: 100%; }

.datepicker {
  z-index: 100 !important; }

.ui-sortable tr {
  cursor: move;
  background: #fff; }

.nav-tabs {
  margin-bottom: 10px; }

input.form-control[type="file"] {
  background: inherit; }

.treeview .checkbox {
  margin: 0; }

/* постраничная навигация в гридах */
.pager-container .pagination {
  margin: 26px 0 0 0; }

/* Override redactor styles */
.redactor-toolbar-tooltip {
  z-index: 1055; }

/* Modal */
.modal-backdrop {
  z-index: 1057; }

.modal {
  z-index: 1058; }

/* грид */
.grid-toolbar {
  height: 40px;
  padding-left: 0px; }

/*navbar*/
.navbar-default .navbar-nav > li > a {
  padding: 15px 5px; }

.navbar-brand {
  padding: 7px 5px 15px 15px; }

/* Начала блока комментариев */
.comments-section {
  font: 13px arial, helvetica, sans-serif;
  color: #333333; }

.comments-section-count-feed {
  padding: 0 0 0 7px;
  font-size: 24px;
  font-weight: normal; }

.comments-add-form {
  padding: 0 0 0 86px;
  position: relative;
  margin: 0 0 -10px 0; }

.comments-add-text textarea {
  background: #f5f5f5;
  padding: 0 15px;
  margin: 0 0 0 -34px;
  line-height: 36px;
  height: 36px;
  width: 100%;
  border: 1px solid #eeeeee;
  resize: none;
  box-shadow: -1px -1px 0 #dddddd, 1px -1px 0 #dddddd, 0px -2px 0 #c6c6c6, -1px -2px 0 #c6c6c6, 1px -2px 0 #c6c6c6; }

.comments-item {
  position: relative;
  margin: 20px 0 0 0; }

.comments-item-avatar, .comments-add-ava {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px; }

.comments-item-avatar img, .comments-add-ava img {
  width: 38px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #d6d6d6; }

.comments-item-main {
  padding: 0 0 0 54px; }

.comments-item-author {
  padding: 0px 0 7px 0;
  font-weight: bold;
  font-size: 15px;
  color: #8f8f8f; }
  .comments-item-author a {
    color: #8f8f8f; }

.comments-item-top {
  color: #a5a5a5;
  font-size: 14px; }
  .comments-item-top a {
    color: #a5a5a5;
    font-size: 14px; }

.comments-item-info {
  overflow: hidden;
  display: block; }

.comments-item-date {
  padding: 0 0 0 22px;
  line-height: 20px;
  font-weight: normal;
  height: 15px;
  background: url("../images/cal-reply.png") no-repeat 0 0; }

.comments-item-reply {
  float: right;
  padding: 0 0 0 24px;
  height: 14px;
  line-height: 14px;
  background: url("../images/cal-reply.png") no-repeat 0 -15px; }
  .comments-item-reply a {
    text-decoration: underline; }
    .comments-item-reply a:hover {
      text-decoration: none; }

.comments-item-message {
  padding: 5px 0;
  font-size: 13px;
  color: #333333;
  line-height: 19px;
  overflow: hidden; }

/* Вложенные комментарии */
.comments-item-child {
  background: #f5f5f5;
  margin: 10px 0 0 0; }
  .comments-item-child .comments-item-main {
    margin: 18px 20px;
    padding: 18px 0 10px 54px; }
    .comments-item-child .comments-item-main:before {
      display: block;
      content: '';
      background: url("../images/comment-marker.png") no-repeat;
      width: 34px;
      height: 13px;
      margin: -31px 0 18px 0; }
  .comments-item-child .comments-item-avatar {
    left: 20px;
    top: 18px; }
  .comments-item-child .comments-item-date {
    background-position: 0 -29px; }

.preview-image-wrapper {
  display: inline-block;
  position: relative; }
  .preview-image-wrapper button {
    opacity: 0.9; }
  .preview-image-wrapper .dropdown-menu {
    min-width: 350px; }

.image-settings {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 99; }

.btn-group .btn {
  margin-left: -1px; }

#news-form .ct-form-control {
  min-width: 100px; }

.grid-view .headline {
  float: right;
  margin-top: 26px; }
.grid-view .grid-toolbar {
  padding-right: 0; }
  .grid-view .grid-toolbar button {
    float: right; }
  .grid-view .grid-toolbar #copy-products {
    margin-right: 8px !important; }

.header-account, .header-panel {
  height: 60px;
  background: #3572b5; }
  .header-account ul li ul li a, .header-panel ul li ul li a {
    color: #000; }

.header-account .logo, .header-panel .logo {
  margin-top: 5px; }

.header-account .play, .header-panel .play {
  color: #aed8ff;
  margin: 13px 0px; }

.header-account .play a, .header-panel .play a {
  color: #aed8ff;
  font-weight: 400;
  font-size: 22px; }

.header-account .play i, .header-panel .play i {
  position: relative;
  top: 2px;
  font-size: 30px;
  color: #76b5fa;
  padding: 0px 10px; }

.footer {
  background: #449bff;
  padding: 15px 0px;
  color: #fff;
  margin-top: 50px;
  padding-top: 30px; }
  .footer .row {
    margin: 0px !important; }
  .footer a {
    color: #fff; }
  .footer .copyright {
    font-size: 18px; }
    .footer .copyright p {
      display: inline-block; }
  .footer .dc56 {
    color: #fff;
    margin-top: -20px; }
    .footer .dc56 a {
      float: right;
      display: block;
      width: 225px;
      color: #fff;
      font-size: 16px; }
      .footer .dc56 a p {
        line-height: 1.5 !important; }
    .footer .dc56 svg {
      height: 40px;
      margin-top: 15px; }
    .footer .dc56 p {
      float: right;
      padding-top: 10px;
      line-height: 1.5 !important; }

.howwork {
  margin-left: 50px;
  font-size: 24px;
  margin-top: -4px; }

.page-header {
  margin: 0px; }
  .page-header h1 {
    color: #499cf8;
    font-size: 24px;
    font-weight: bold; }

.page-header-bottom {
  margin-bottom: 25px; }

.menu-navbar ul li a {
  font-family: "Arimo";
  font-size: 18px;
  font-weight: 800;
  color: #acd7ff;
  color: #acd7ff !important;
  font-weight: bold !important;
  padding: 10px 25px !important;
  margin-top: 5px; }
  .menu-navbar ul li a.orderLink {
    background: #499cf8;
    border-radius: 5px;
    color: #fff !important;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
    .menu-navbar ul li a.orderLink:hover {
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      background: #6bb1ff; }
  .menu-navbar ul li a.howwork {
    position: relative;
    padding-left: 70px !important; }
    .menu-navbar ul li a.howwork i {
      position: absolute;
      top: -5px;
      left: 0px;
      font-size: 50px; }
.menu-navbar ul li.active {
  /*				a{
  					background: #499cf8 !important;
  					border-radius: 5px;
  					&:focus{
  						background: #499cf8;
  					}
  				}*/ }
  .menu-navbar ul li.active a {
    background: none !important; }
.menu-navbar .container-fluid .navbar-header {
  width: 200px; }

.panel-menu {
  color: #20436b; }
  .panel-menu ul {
    list-style: none;
    padding: 0px; }
    .panel-menu ul li {
      padding: 10px 0px;
      color: #20436b;
      font-size: 18px;
      font-weight: bold; }
      .panel-menu ul li i {
        display: block;
        width: 45px;
        float: left;
        text-align: center;
        font-size: 22px;
        color: #3572b5; }
      .panel-menu ul li a {
        font-family: "Arimo";
        font-size: 18px;
        font-weight: 800;
        color: #20436b; }
        .panel-menu ul li a:hover {
          color: #499cf8;
          text-decoration: none; }
      .panel-menu ul li ul {
        margin-left: 45px;
        margin-top: 10px; }
        .panel-menu ul li ul li {
          font-size: 14px;
          font-weight: 300;
          padding: 2px 0px; }
          .panel-menu ul li ul li a {
            font-family: "Arimo";
            font-size: 14px;
            font-weight: 400;
            color: #499cf8; }
            .panel-menu ul li ul li a:hover {
              color: #3572b5; }

.menu-navbar-admin ul li a {
  padding: 10px 10px !important; }
.menu-navbar-admin .container-fluid {
  max-width: 100%; }
  .menu-navbar-admin .container-fluid .navbar-header {
    width: auto; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: none; }

.navbar-nav > li > .dropdown-menu {
  margin-top: 5px; }

.avatar-menu {
  width: 30px;
  border-radius: 30px; }

.navbar-balance {
  padding-right: 30px; }

.tabs-order {
  margin: 25px 15px; }

.block-order {
  color: #20436b;
  margin: 30px 0px;
  margin: 20px 0px;
  padding: 30px;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.08);
  line-height: 1.5;
  border-style: solid;
  border-width: 1px;
  border-color: #d4d4d4;
  border-radius: 5px; }
  .block-order h5 {
    color: #499cf8;
    font-size: 22px; }
  .block-order i {
    color: #6cd164;
    font-size: 26px;
    position: relative;
    top: 5px;
    padding-right: 10px; }
  .block-order .data-order {
    padding: 10px 0px; }
  .block-order .options-order {
    color: #000; }
    .block-order .options-order a {
      color: #499cf8; }
  .block-order .label-info {
    font-size: 90%; }
  .block-order .actions-order {
    margin: 15px -15px; }
  .block-order .text-order {
    margin: 20px -15px; }
    .block-order .text-order a.link-more {
      color: #499cf8;
      border-bottom: dotted 1px #499cf8; }
    .block-order .text-order .more-text {
      margin: 20px 0px; }
  .block-order .buttons-order {
    margin: 20px -15px; }

.buttons a {
  font-size: 18px;
  color: #444;
  border: solid 1px #444;
  border-radius: 100px;
  margin: 0px 5px;
  height: 45px;
  width: 45px;
  padding-top: 10px; }

.dialog-widget {
  border-top: 1px solid #e5e5e5;
  padding-top: 25px;
  margin-top: 25px; }

#dialogModal .close {
  font-size: 30px; }
#dialogModal .modal-dialog {
  width: 60%; }
  #dialogModal .modal-dialog .modal-content {
    border-radius: 0px; }
    #dialogModal .modal-dialog .modal-content .modal-header {
      padding: 10px;
      height: 45px; }
    #dialogModal .modal-dialog .modal-content .form-group {
      width: 100%; }
      #dialogModal .modal-dialog .modal-content .form-group textarea {
        height: 100px;
        width: 100%; }

/*.list-dialog{
	max-height: 350px;
	overflow: auto;
	.dialog-message{
		border: 1px solid #36a3ff;
		border-radius: 10px;
		padding: 20px;
		position: relative;
		&:before, &:after{
			content: ''; 
			position: absolute;
			left: 20px; bottom: -20px;
			border: 10px solid transparent;
			border-top: 10px solid #36a3ff;
		}
		&:after{
			border-top: 10px solid #fff;
			bottom: -19px;
		}
   }
}*/
.list-dialog {
  max-height: 350px;
  overflow: auto; }
  .list-dialog .dialog-message, .list-dialog .dialog-message-user {
    background: #F3F8FC;
    border: 2px solid #36a3ff;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 7px 0px;
    position: relative;
    background-color: #f3f8fc;
    border: 2px solid #c6dfed;
    /*&:before, &:after{
    	right: 100%;
    	top: 35%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }
    &:after{
    	border-color: rgba(255, 255, 255, 0);
    	border-right-color: #fff;
    	border-width: 10px;
    	margin-top: -10px;
    }		
    &:before {
    	border-color: rgba(54, 163, 255, 0);
    	border-right-color: #36a3ff;
    	border-width: 11px;
    	margin-top: -11px;
    }*/ }
    .list-dialog .dialog-message:after, .list-dialog .dialog-message-user:after {
      position: absolute;
      display: block;
      content: "";
      width: 12px;
      height: 12px;
      border: 2px solid #ececec;
      background-color: #f3f8fc;
      border-color: #c6dfed;
      top: 15px;
      border-bottom: 0;
      border-right: 0;
      left: -8px;
      right: auto;
      transform: rotate(-45deg); }
  .list-dialog .dialog-message-user {
    		/*&:before, &:after{
    			left: 100%;
    
    		}
    		&:after{
    			border-left-color: #fff;
    			border-right-color: #fff;
    		}
    		&:before{
    			border-left-color: #36a3ff;
    			border-right-color: #fff;
    		}*/ }
    .list-dialog .dialog-message-user:after {
      right: -8px;
      left: auto;
      transform: rotate(135deg); }
  .list-dialog .dialog-message {
    font-family: "Arimo";
    font-size: 14px;
    font-weight: 600;
    color: #20436b; }
  .list-dialog .dialog-none:after {
    content: none; }
  .list-dialog span {
    font-size: 10px;
    padding: 5px 0px;
    display: block;
    color: #7d7d7d; }
  .list-dialog label {
    padding: 20px; }

.user-panel {
  margin-top: 40px; }

.block-user {
  padding-bottom: 20px;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15); }
  .block-user img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 100%; }
  .block-user label {
    display: block;
    text-align: center;
    padding: 10px 0px;
    font-family: "Arimo";
    font-size: 16px;
    font-weight: 800;
    color: #20436b; }
  .block-user a {
    display: block;
    width: 75%;
    background: #499cf8;
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Arimo";
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
    .block-user a:hover {
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      background: #9ac9fd; }

.list-orders-panel {
  padding: 20px 0px !important;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15); }
  .list-orders-panel h4 {
    text-align: center;
    font-family: "Arimo";
    font-size: 24px;
    font-weight: 800;
    color: #499cf8; }
  .list-orders-panel a.create-order {
    display: block;
    width: 50%;
    background: #499cf8;
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Arimo";
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
    .list-orders-panel a.create-order:hover {
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      background: #3891f4; }
  .list-orders-panel .block-order {
    color: #20436b;
    box-shadow: 0px 0px 7.44px 0.56px rgba(30, 30, 30, 0.1);
    margin: 10px 0px;
    padding: 0px 25px;
    margin: 15px;
    font-family: "Arimo";
    font-size: 12px;
    font-weight: 400;
    color: #20436b; }
    .list-orders-panel .block-order h5 {
      font-family: "Arimo";
      font-size: 14px;
      font-weight: 800;
      color: #499cf8; }
    .list-orders-panel .block-order i {
      position: static;
      font-size: 18px; }
  .list-orders-panel .empty {
    display: block;
    text-align: center;
    padding: 15px;
    padding-bottom: 40px; }

.how-work {
  margin: 0px 5px;
  padding: 20px 15px;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
  text-align: center; }
  .how-work h5 {
    font-family: "Arimo";
    font-size: 24px;
    font-weight: 800;
    color: #499cf8; }
  .how-work p {
    font-family: "Arimo";
    font-size: 16px;
    font-weight: 800;
    color: #4474ab; }
  .how-work label {
    display: block;
    background: #5eb5ff;
    font-family: "Arimo";
    font-size: 10px;
    font-weight: 800;
    color: #fff;
    padding: 45px 10px 15px; }
  .how-work .row {
    margin: 0px  -10px; }
  .how-work .work-block {
    padding: 0px 5px; }
  .how-work .image-work {
    width: 70px;
    height: 70px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    top: 35px;
    border: solid 4px #36a3ff;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center; }

.rate-form {
  margin: 20px 0px; }

.rates-block h1, .rates-block h2, .rates-block h3, .rates-block h4, .rates-block h5 {
  padding: 0px;
  margin: 0px; }

.list-orders {
  padding: 0px 10px; }

.rates-block-order {
  background: #ededed;
  background: #F3F8FC;
  border: 2px solid #36a3ff;
  padding: 15px 10px;
  margin: 15px -15px;
  font-family: "Arimo";
  font-size: 16px;
  font-weight: 400;
  color: #20436b; }
  .rates-block-order h4 {
    font-family: "Arimo";
    font-size: 24px;
    font-weight: 400;
    color: #20436b; }
  .rates-block-order a {
    font-family: "Arimo";
    font-size: 16px;
    font-weight: 400;
    color: #fff; }
  .rates-block-order a.files-solutions {
    font-family: "Arimo";
    font-size: 16px;
    font-weight: 400;
    color: #20436b; }

.label-margin {
  display: inline-block;
  margin: 10px 0px; }

#orders-platform-form .chosen-container-single .chosen-single {
  padding: 4px 0px 0 10px;
  height: 35px;
  font-size: 14px; }

/*# sourceMappingURL=styles.css.map */
