body, p, h1, h2, h3, h4, div, ul, li, div {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  background: #fff; }

ul {
  list-style: none;
  margin: 0px !important;
  padding: 0px !important; }

.row {
  margin: 0px !important; }

.list-view {
  padding: 0px !important; }

a {
  outline: none !important;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
  a:hover {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    text-decoration: none !important; }
  a:focus, a:active {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    text-decoration: none !important; }

img {
  max-width: 100%;
  width: auto; }

.container-site {
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 400;
  color: #6b7390;
  position: relative;
  width: 100%;
  line-height: 1.2; }
  .container-site .form-group {
    width: 100%; }
    .container-site .form-group input, .container-site .form-group input[type="submit"], .container-site .form-group button[type="submit"] {
      background: #fff;
      border: solid 1px #499cf8;
      border-radius: 5px;
      width: 100%;
      display: block;
      margin: 10px 0px; }
  .container-site input, .container-site input[type="submit"], .container-site button[type="submit"] {
    border: solid 1px #499cf8;
    border-radius: 5px;
    width: 100%;
    display: block;
    margin: 10px 0px; }
  .container-site input[type="submit"], .container-site button[type="submit"] {
    background: #499cf8; }
    .container-site input[type="submit"]:hover, .container-site button[type="submit"]:hover {
      background: #0068cc; }
  .container-site input[type="checkbox"] {
    display: inline-block;
    width: 30px;
    margin: 0px; }
  .container-site .radio-buttons {
    margin: 15px 0px; }

.profile-form .form-group input, .profile-form .form-group input[type="submit"], .profile-form .form-group button[type="submit"] {
  margin: 0px; }

#registration-form .form-checkbox {
  width: 15px;
  margin: 10px 0px;
  margin-right: 10px; }
#registration-form #view_password {
  margin-top: 10px;
  width: 100%; }

.content-site {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  position: relative; }

.header {
  height: 440px;
  padding-top: 40px;
  background: url(../images/header-panel.jpg) 50% 50% no-repeat; }
  .header .logo {
    margin-top: -20px; }
  .header .link-top {
    font-family: "Arimo";
    font-size: 16px;
    font-weight: 600;
    color: #84a7ce; }
    .header .link-top a {
      color: #84a7ce; }
  .header .phone {
    font-family: "Ubuntu";
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    margin-top: -5px;
    text-align: center; }
    .header .phone i {
      color: #fff; }
  .header .login {
    font-size: 24px; }
    .header .login a {
      display: inline-block;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 5px;
      font-family: "Arimo";
      font-size: 16px;
      font-weight: 600;
      color: #84a7ce;
      font-family: "Arimo";
      font-size: 16px;
      font-weight: 600;
      color: #fff; }
      .header .login a:hover {
        background: #c4c1cb;
        color: #20436b; }
  .header .menu-header {
    margin-top: 20px; }
    .header .menu-header ul li {
      display: inline-block;
      border-radius: 10px;
      margin: 0px 10px; }
      .header .menu-header ul li a {
        display: block;
        padding: 10px 15px;
        font-family: "Arimo";
        font-size: 18px;
        font-weight: 600;
        color: #fff; }
      .header .menu-header ul li:hover {
        background: #c4c1cb; }
        .header .menu-header ul li:hover a {
          color: #20436b; }
      .header .menu-header ul li:first-child {
        margin-left: 0px; }
  .header .head-text h3 {
    text-align: right;
    font-family: "Arimo";
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 45px; }

.statistic-panel {
  background: url(../images/statistic-panel.jpg) 50% 50% no-repeat;
  height: 130px;
  font-family: "Arimo";
  font-size: 18px;
  font-weight: 600;
  color: #fff; }
  .statistic-panel label {
    display: block;
    font-family: "Arimo";
    font-size: 40px;
    font-weight: 600;
    color: #fff; }
  .statistic-panel .row {
    height: 100%; }
  .statistic-panel .block-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.comment-block {
  background: url(../images/comments-panel.jpg) 50% 50% no-repeat;
  height: 630px;
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 400;
  color: #fff; }
  .comment-block h4 {
    font-family: "Arimo";
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 50px 0px; }
  .comment-block h5 {
    font-family: "Ubuntu";
    font-size: 24px;
    font-weight: 500;
    color: #fff; }
  .comment-block img {
    display: block;
    max-width: 100%;
    width: auto !important;
    float: right; }
  .comment-block i {
    color: #fff !important;
    padding: 1px 15px;
    border-radius: 30px;
    border: solid 2px #fff; }
  .comment-block .owl-carousel {
    width: 70%;
    margin: 0 auto; }
    .comment-block .owl-carousel .owl-dots {
      display: none; }
    .comment-block .owl-carousel .owl-nav .owl-prev {
      left: -50px; }
    .comment-block .owl-carousel .owl-nav .owl-next {
      right: -50px; }

.slider-block {
  background: url(../images/formulas.jpg) repeat;
  height: 800px; }
  .slider-block h3 {
    text-align: center;
    font-family: "Arimo";
    font-size: 32px;
    font-weight: 600;
    color: #20436b;
    padding: 50px 0px; }

.how-work {
  background: url(../images/how-work.jpg) 50% 50% no-repeat;
  border-top: solid 2px #000002;
  height: 495px; }
  .how-work h3 {
    text-align: center;
    font-family: "Arimo";
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    padding: 50px 0px; }
  .how-work .block-works {
    margin-top: 55px; }
    .how-work .block-works .item-block {
      width: 14.2%;
      float: left;
      font-family: "Ubuntu";
      font-size: 14px;
      font-weight: 600;
      color: #20436b; }
      .how-work .block-works .item-block .inner-block {
        background: rgba(217, 219, 223, 0.8);
        margin: 0px 10px;
        padding: 0px 10px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative; }
        .how-work .block-works .item-block .inner-block .img-block {
          position: absolute;
          top: -49px;
          left: 28px; }
      .how-work .block-works .item-block:nth-child(even) {
        margin-top: 60px; }

.pluses-block {
  background: url(../images/pluses-panel.jpg) 50% 50% no-repeat;
  height: 390px; }
  .pluses-block h3 {
    text-align: center;
    font-family: "Arimo";
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    padding: 50px 0px; }
  .pluses-block .pluses .item-block {
    width: 20%;
    float: left;
    padding: 0px 20px;
    text-align: center;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 600;
    color: #fff; }
    .pluses-block .pluses .item-block .img-block {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .pluses-block .pluses .item-block .title-block {
      font-family: "Arimo";
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0px; }

.bottom-block {
  background: url(../images/formulas.jpg) repeat;
  padding: 50px 0px; }
  .bottom-block .b-menu ul li {
    margin: 10px 0px; }
    .bottom-block .b-menu ul li a {
      font-family: "Ubuntu";
      font-size: 18px;
      font-weight: 400;
      color: #6b7390; }
    .bottom-block .b-menu ul li:first-child a {
      font-weight: bold;
      color: #20436b; }

.footer {
  background: #449bff;
  padding: 30px 0px;
  color: #fff; }
  .footer a {
    color: #fff; }
  .footer .copyright {
    font-size: 18px; }
    .footer .copyright p {
      display: inline-block; }
  .footer .dc56 {
    color: #fff;
    margin-top: -20px; }
    .footer .dc56 a {
      float: right;
      display: block;
      width: 225px;
      color: #fff;
      font-size: 16px; }
      .footer .dc56 a p {
        line-height: 1.5 !important; }
    .footer .dc56 svg {
      height: 40px;
      margin-top: 15px; }
    .footer .dc56 p {
      float: right;
      padding-top: 10px;
      line-height: 1.5 !important; }

.content-page {
  padding: 50px 0px;
  background-color: #f5f5f5;
  min-height: 100vh; }

.container-profile h4 {
  font-family: "Ubuntu";
  font-size: 28px;
  font-weight: 400;
  color: #010101;
  padding-bottom: 25px; }

.content-profile {
  background: #fff;
  padding: 0px 25px;
  border: #e1e1e1 2px solid;
  border-radius: 2px; }
  .content-profile .panel-profile {
    border: none;
    box-shadow: none; }
    .content-profile .panel-profile .panel-heading {
      border-radius: 0px;
      background: none;
      border-bottom: #3572b5 2px solid;
      padding: 5px 0px 10px 0px;
      text-transform: uppercase;
      font-family: "Ubuntu";
      font-size: 18px;
      font-weight: 400;
      color: #000; }
  .content-profile label {
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 400;
    color: #131313; }

.profile-filters .main-category {
  border-bottom: #e8e8e8 1px solid;
  margin: 15px 0px; }

.nav-vertical li {
  background: #4786c8;
  width: 100%;
  float: none;
  display: block;
  margin: 10px 0px !important;
  border-radius: 10px;
  text-align: center; }
  .nav-vertical li a {
    text-transform: uppercase;
    display: block;
    padding: 10px;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 600;
    color: #fff; }
  .nav-vertical li.active {
    background: #315881; }
  .nav-vertical li:hover {
    background: #315881; }

.subjects-filter .tab-content {
  margin-top: 10px; }
.subjects-filter .main-category {
  border-bottom: #e8e8e8 1px solid;
  margin-bottom: 15px; }

.links-menu-tab {
  margin: 10px 0px;
  border-bottom: #e8e8e8 1px solid; }
  .links-menu-tab li {
    display: inline-block; }
    .links-menu-tab li a {
      display: block;
      padding: 5px 0px;
      margin: 0px;
      margin-right: 35px;
      padding-bottom: 14px;
      border-bottom: #fff 3px solid;
      font-family: "Ubuntu";
      font-size: 16px;
      font-weight: 400;
      color: #8d8d8d; }
      .links-menu-tab li a:hover {
        color: #000;
        background: none;
        border-bottom: #3572b5 3px solid; }

.header-account, .header-panel {
  height: 60px;
  background: #3572b5; }
  .header-account .logo, .header-panel .logo {
    margin-top: 5px; }
  .header-account .link-header, .header-panel .link-header {
    color: #aed8ff;
    margin: 13px 0px; }
    .header-account .link-header a, .header-panel .link-header a {
      color: #aed8ff;
      font-weight: 400;
      font-size: 22px; }
    .header-account .link-header i, .header-panel .link-header i {
      position: relative;
      top: 2px;
      font-size: 30px;
      color: #76b5fa;
      padding: 0px 10px; }

.registration-form {
  width: 45%;
  margin: 0 auto; }
  .registration-form h3 {
    text-align: center;
    color: #4a9cf9; }
  .registration-form .dropList {
    width: 100%; }

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0px; }
  .radio + label {
    position: relative;
    cursor: pointer;
    height: 34px;
    width: 45%;
    height: 34px;
    width: 49%;
    border: solid 1px #b8b8b8;
    border-radius: 5px;
    color: #b8b8b8;
    z-index: 99999;
    background: #fff;
    color: #b8b8b8;
    text-align: center;
    padding-top: 6px; }
    .radio + label:before {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0px;
      border-radius: 5px; }
  .radio:checked + label:before {
    opacity: 1; }
  .radio:checked + label {
    background: #499cf8;
    color: #fff; }

.radio-buttons {
  padding-right: 5px !important; }

#login-form input[type="checkbox"] {
  margin-top: 2px; }

.center-align {
  text-align: center; }

/* CSS Document */
@media (max-width: 1200px) {
  .content-site {
    width: 100%;
    margin: 0 auto; }

  .fullblock {
    padding: 0px 20px; }

  .block1, .block2, .block3, .block5 {
    padding-top: 30px; }

  .block6 .feedback-faq {
    position: static;
    transform: none; } }
/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Daniel Eden
 */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.animated.infinite {
  animation-iteration-count: infinite; }

.animated.hinge {
  animation-duration: 2s; }

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s; }

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  90% {
    transform: translate3d(0, -4px, 0); } }
.bounce {
  animation-name: bounce;
  transform-origin: center bottom; }

@keyframes flash {
  from, 50%, to {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
.flash {
  animation-name: flash; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scale3d(1, 1, 1); } }
.pulse {
  animation-name: pulse; }

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }
.rubberBand {
  animation-name: rubberBand; }

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0); } }
.shake {
  animation-name: shake; }

@keyframes headShake {
  0% {
    transform: translateX(0); }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg); }
  18.5% {
    transform: translateX(5px) rotateY(7deg); }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg); }
  43.5% {
    transform: translateX(2px) rotateY(3deg); }
  50% {
    transform: translateX(0); } }
.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake; }

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    transform: rotate3d(0, 0, 1, 0deg); } }
.swing {
  transform-origin: top center;
  animation-name: swing; }

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    transform: scale3d(1, 1, 1); } }
.tada {
  animation-name: tada; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes wobble {
  from {
    transform: none; }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  to {
    transform: none; } }
.wobble {
  animation-name: wobble; }

@keyframes jello {
  from, 11.1%, to {
    transform: none; }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg); }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg); } }
.jello {
  animation-name: jello;
  transform-origin: center; }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }
.bounceIn {
  animation-name: bounceIn; }

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: none; } }
.bounceInDown {
  animation-name: bounceInDown; }

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  to {
    transform: none; } }
.bounceInLeft {
  animation-name: bounceInLeft; }

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }
.bounceInRight {
  animation-name: bounceInRight; }

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  75% {
    transform: translate3d(0, 10px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
.bounceInUp {
  animation-name: bounceInUp; }

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }
.bounceOut {
  animation-name: bounceOut; }

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }
.bounceOutDown {
  animation-name: bounceOutDown; }

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }
.bounceOutLeft {
  animation-name: bounceOutLeft; }

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }
.bounceOutRight {
  animation-name: bounceOutRight; }

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }
.bounceOutUp {
  animation-name: bounceOutUp; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  animation-name: fadeIn; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInDown {
  animation-name: fadeInDown; }

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInDownBig {
  animation-name: fadeInDownBig; }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInLeft {
  animation-name: fadeInLeft; }

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInLeftBig {
  animation-name: fadeInLeftBig; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInRight {
  animation-name: fadeInRight; }

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInRightBig {
  animation-name: fadeInRightBig; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInUp {
  animation-name: fadeInUp; }

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInUpBig {
  animation-name: fadeInUpBig; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
.fadeOutDown {
  animation-name: fadeOutDown; }

@keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }
.fadeOutDownBig {
  animation-name: fadeOutDownBig; }

@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }
.fadeOutLeft {
  animation-name: fadeOutLeft; }

@keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }
.fadeOutLeftBig {
  animation-name: fadeOutLeftBig; }

@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }
.fadeOutRight {
  animation-name: fadeOutRight; }

@keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }
.fadeOutRightBig {
  animation-name: fadeOutRightBig; }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }
.fadeOutUp {
  animation-name: fadeOutUp; }

@keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }
.fadeOutUpBig {
  animation-name: fadeOutUpBig; }

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out; }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out; }
  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in; }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in; }
  to {
    transform: perspective(400px);
    animation-timing-function: ease-in; } }
.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation-name: flip; }

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    transform: perspective(400px); } }
.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX; }

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  to {
    transform: perspective(400px); } }
.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInY; }

@keyframes flipOutX {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }
.flipOutX {
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@keyframes flipOutY {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }
.flipOutY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipOutY; }

@keyframes lightSpeedIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0; }
  60% {
    transform: skewX(20deg);
    opacity: 1; }
  80% {
    transform: skewX(-5deg);
    opacity: 1; }
  to {
    transform: none;
    opacity: 1; } }
.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out; }

@keyframes lightSpeedOut {
  from {
    opacity: 1; }
  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }
.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in; }

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  to {
    transform-origin: center;
    transform: none;
    opacity: 1; } }
.rotateIn {
  animation-name: rotateIn; }

@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }
.rotateInDownLeft {
  animation-name: rotateInDownLeft; }

@keyframes rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }
.rotateInDownRight {
  animation-name: rotateInDownRight; }

@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }
.rotateInUpLeft {
  animation-name: rotateInUpLeft; }

@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }
.rotateInUpRight {
  animation-name: rotateInUpRight; }

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1; }
  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0; } }
.rotateOut {
  animation-name: rotateOut; }

@keyframes rotateOutDownLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; } }
.rotateOutDownLeft {
  animation-name: rotateOutDownLeft; }

@keyframes rotateOutDownRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
.rotateOutDownRight {
  animation-name: rotateOutDownRight; }

@keyframes rotateOutUpLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
.rotateOutUpLeft {
  animation-name: rotateOutUpLeft; }

@keyframes rotateOutUpRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }
.rotateOutUpRight {
  animation-name: rotateOutUpRight; }

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0; } }
.hinge {
  animation-name: hinge; }

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom; }
  50% {
    transform: rotate(-10deg); }
  70% {
    transform: rotate(3deg); }
  to {
    opacity: 1;
    transform: scale(1); } }
.jackInTheBox {
  animation-name: jackInTheBox; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg); }
  to {
    opacity: 1;
    transform: none; } }
.rollIn {
  animation-name: rollIn; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes rollOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg); } }
.rollOut {
  animation-name: rollOut; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
.zoomIn {
  animation-name: zoomIn; }

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomInDown {
  animation-name: zoomInDown; }

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomInLeft {
  animation-name: zoomInLeft; }

@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomInRight {
  animation-name: zoomInRight; }

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomInUp {
  animation-name: zoomInUp; }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
.zoomOut {
  animation-name: zoomOut; }

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomOutDown {
  animation-name: zoomOutDown; }

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center; } }
.zoomOutLeft {
  animation-name: zoomOutLeft; }

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center; } }
.zoomOutRight {
  animation-name: zoomOutRight; }

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomOutUp {
  animation-name: zoomOutUp; }

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }
.slideInDown {
  animation-name: slideInDown; }

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }
.slideInLeft {
  animation-name: slideInLeft; }

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }
.slideInRight {
  animation-name: slideInRight; }

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }
.slideInUp {
  animation-name: slideInUp; }

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0); } }
.slideOutDown {
  animation-name: slideOutDown; }

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0); } }
.slideOutLeft {
  animation-name: slideOutLeft; }

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0); } }
.slideOutRight {
  animation-name: slideOutRight; }

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0); } }
.slideOutUp {
  animation-name: slideOutUp; }

/*# sourceMappingURL=style.css.map */
