/* CSS Document */

@media (min-width: 1920px) and (max-width: 3000px){
 
}


@media (max-width: 1200px){
 	.content-site{
		width: 100%; margin: 0 auto;
	}
	.fullblock{
		padding: 0px 20px;
	}
	.block1, .block2, .block3, .block5{
		padding-top: 30px;
	}
	.block6{
		.feedback-faq{
			position: static; transform: none;
		}	
	}
}

@media (min-width: 768px) and (max-width: 1024px){
	  
}

@media (max-width: 767px){
	 
}


@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape){
 
}

@media only screen and (min-device-width: 768px)  and (max-device-width: 1024px) and (orientation: landscape){
 
}

@media only screen and (min-device-width: 768px)  and (max-device-width: 1024px) and (orientation: portrait){
 
}