.content-page{
	padding: 50px 0px;
	background-color: #f5f5f5;
	min-height: 100vh;
}

.container-profile{
	h4{
		@include fontF($ubuntu, 28px, 400, #010101);
		padding-bottom: 25px;
	}
}

.content-profile{
	background: #fff;
	padding: 0px 25px;
	border: #e1e1e1 2px solid; border-radius: 2px;
	.panel-profile{
		border: none;
		box-shadow: none;
		.panel-heading{
			border-radius: 0px;
			background: none;
			border-bottom: #3572b5 2px solid;
			padding: 5px 0px 10px 0px;
			text-transform: uppercase;
			@include fontF($ubuntu, 18px, 400, #000);
		}
		.panel-body{

		}
	}
	label{
		@include fontF($ubuntu, 16px, 400, #131313);
	}
}

.profile-filters{
	.main-category{
		border-bottom: #e8e8e8 1px solid;
		margin: 15px 0px;
	}
}

.nav-vertical{
	li{
		background: #4786c8;
		width: 100%;
		float: none;
		display: block;
		margin: 10px 0px !important;
		border-radius: 10px;
		text-align: center;
		a{
			text-transform: uppercase;
			display: block;
			padding: 10px;
			@include fontF($ubuntu, 14px, 600, #fff);
		}
		&.active{
			background: #315881;
		}
		&:hover{
			background: #315881;
		}
		&:first-child{
			
		}
	}
}

.subjects-filter{
	.tab-content{
		margin-top: 10px;
	}
	.main-category{
		border-bottom: #e8e8e8 1px solid;
		margin-bottom: 15px;
	}
}

.links-menu-tab{
	margin: 10px 0px;
	border-bottom: #e8e8e8 1px solid;
	li{
		display: inline-block;
		a{
			display: block;
			padding: 5px 0px; margin: 0px; margin-right: 35px;
			padding-bottom: 14px;
			border-bottom: #fff 3px solid;
			@include fontF($ubuntu, 16px, 400, #8d8d8d);
			&:hover{
				color: #000;
				background: none;
				border-bottom: #3572b5 3px solid;
			}
		}
	}
}

.header-account, .header-panel{
	height: 60px;
	background: #3572b5;
	.logo{
		margin-top: 5px;
	}
	.link-header{
		color: #aed8ff;
		margin: 13px 0px;
		a{
			color: #aed8ff;
			font-weight: 400;
			font-size: 22px;
		}
		i{
			position: relative;
			top: 2px;
			font-size: 30px; color: #76b5fa;
			padding: 0px 10px;
		}
	}
}

.registration-form{
	width: 45%; margin: 0 auto;
	h3{
		text-align: center;
		color: #4a9cf9;
	}
	.dropList{
		width: 100%;
	}
}

.radio{
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0px;
  + label{
		position: relative;
		cursor: pointer;
		height: 34px; width: 45%;
		height: 34px; width: 49%;
		border: solid 1px #b8b8b8;
		border-radius: 5px;
	  	color: #b8b8b8;
	  	z-index: 99999;
		background: #fff;
		color: #b8b8b8;
	  	text-align: center;
	  	padding-top: 6px;
		&:before{
			content: '';
			width: 100%; height: 100%;
			display: block;
			position: absolute;
			top: 0px; 
			border-radius: 5px;

		}
		&:after{

		}
	}
	&:checked + label:before{
		opacity: 1;
	}
	&:checked + label{
		background: #499cf8;
		color: #fff;
	}
}
.radio-buttons{
	padding-right: 5px !important;
}

#login-form{
	input[type="checkbox"]{
		margin-top: 2px;
	}
}

.center-align{
	text-align: center;
}