body, p, h1, h2, h3, h4, div, ul, li, div{
	margin: 0; padding:0; border: 0;
}

body{
	background: #fff;
}

ul{
	list-style: none;
	margin:0px !important;
	padding:0px !important;
}

.row{
	margin: 0px !important;
}

.list-view{
	padding: 0px !important
}

@mixin delay{
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

@mixin vertical-middle-flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@mixin align-center-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin vertical-middle-pos{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin align-center-pos{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin font($size, $weight, $color){
	font-size: $size; font-weight: $weight;  color: $color;
}

@mixin fontF($font, $size, $weight, $color){
	font-family: $font; font-size: $size; font-weight: $weight;  color: $color;
}

a{
	outline: none !important;
	text-decoration: none;
	@include delay;
	&:hover{
		@include delay;
		text-decoration: none !important;
	}
	&:focus, &:active{
		@include delay;
		text-decoration: none !important;
	}
}

img{
	max-width: 100%;
	width: auto;
}

.container-site{
	@include fontF($ubuntu, 14px, 400, #6b7390);
	position: relative; width: 100%;
	line-height: 1.2;
	.form-group{
		width: 100%;
		input, input[type="submit"], button[type="submit"]{
			background: #fff;
			border: solid 1px #499cf8;
			border-radius: 5px;
			width: 100%;
			display: block;
			margin: 10px 0px;
		}
	}
	input, input[type="submit"], button[type="submit"]{
		border: solid 1px #499cf8;
		border-radius: 5px;
		width: 100%;
		display: block;
		margin: 10px 0px;
	}
	input[type="submit"], button[type="submit"]{
		background: #499cf8;
		&:hover{
			background: #0068cc;
		}
	}
	input[type="checkbox"]{
		display: inline-block;
		width: 30px;
		margin: 0px;
	}
	.radio-buttons{
		margin: 15px 0px;
	}
}

.profile-form{
	.form-group{
		input, input[type="submit"], button[type="submit"]{
			margin: 0px;
		}
	}
}

#registration-form{
	.form-checkbox{
		width: 15px;
		margin: 10px 0px; margin-right: 10px;
	}
	#view_password{
		margin-top: 10px;
		width: 100%;
	}
}

.content-site{
	width: 1200px; margin: 0 auto;
	height: 100%;
	position: relative;
}

.header{
	height: 440px; padding-top: 40px;
	background: url(../images/header-panel.jpg) 50% 50% no-repeat;
	.logo{
		margin-top: -20px;
	}
	.link-top{
		@include fontF($arimo, 16px, 600, #84a7ce);
		a{
			color: #84a7ce;
		}
	}
	.phone{
		@include fontF($ubuntu, 26px, 400, #fff);
		margin-top: -5px;
		text-align: center;
		i{
			color: #fff;
		}
	}
	.login{
		font-size: 24px;
		a{
			display: inline-block;
			padding: 5px;
			border-radius: 5px;
			margin-bottom: 5px;
			@include fontF($arimo, 16px, 600, #84a7ce);
			@include fontF($arimo, 16px, 600, #fff);
			&:hover{
				background: #c4c1cb;
				color: #20436b;
			}
		}
	}
	.menu-header{
		margin-top: 20px;
		ul{
			li{
				display: inline-block;
				border-radius: 10px;
				margin: 0px 10px;
				a{
					display: block; padding: 10px 15px;
					@include fontF($arimo, 18px, 600, #fff);
				}
				&:hover{
					background: #c4c1cb;
					a{
						color: #20436b;
					}
				}
				&:first-child{
					margin-left: 0px;
				}
			}
		}
	}
	.head-text{
		h3{
			text-align: right;
			@include fontF($arimo, 48px, 600, #fff);
			@include vertical-middle-flex;
			padding-top: 45px;
		}
	}
}

.statistic-panel{
	background: url(../images/statistic-panel.jpg) 50% 50% no-repeat;
	height: 130px;
	@include fontF($arimo, 18px, 600, #fff);
	label{
		display: block;
		@include fontF($arimo, 40px, 600, #fff);
	}
	.row{
		height: 100%;
	}
	.block-item{
		height: 100%;
		@include vertical-middle-flex;
	}
}

.comment-block{
	background: url(../images/comments-panel.jpg) 50% 50% no-repeat;
	height: 630px;
	@include fontF($ubuntu, 16px, 400, #fff);
	h4{
		@include fontF($arimo, 32px, 600, #fff);
		text-align: center; padding: 50px 0px;
	}
	h5{
		@include fontF($ubuntu, 24px, 500, #fff);
	}
	img{
		display: block; max-width: 100%;
		width: auto !important; float: right;
	}
	i{
		color: #fff !important;
		padding: 1px 15px;
		border-radius: 30px;
		border: solid 2px #fff;
	}
	.owl-carousel{
		width: 70%; margin: 0 auto;
		.owl-dots{
			display: none;
		}
		.owl-nav{
			.owl-prev{
				left: -50px;
			}			
			.owl-next{
				right: -50px;
			}
		}
	}
}

.slider-block{
	background: url(../images/formulas.jpg) repeat;
	height: 800px;
	h3{
		text-align: center;
		@include fontF($arimo, 32px, 600, #20436b);
		padding: 50px 0px;
	}
}

.how-work{
	background: url(../images/how-work.jpg) 50% 50% no-repeat;
	border-top: solid 2px #000002;
	height: 495px;
	h3{
		text-align: center;
		@include fontF($arimo, 32px, 600, #fff);
		padding: 50px 0px;
	}
	.block-works{
		margin-top: 55px;
		.item-block{
			width: 14.2%; float: left;
			@include fontF($ubuntu, 14px, 600, #20436b);
			.inner-block{
				background: rgba(217, 219, 223, 0.8);
				margin: 0px 10px; padding: 0px 10px;
				height: 180px;
				@include align-center-flex;
				text-align: center;
				position: relative;
				.img-block{
					position: absolute;
					top: -49px; left: 28px;
				}
			}
			&:nth-child(even){
				margin-top: 60px;
			}
		}
	}
}

.pluses-block{
	background: url(../images/pluses-panel.jpg) 50% 50% no-repeat;
	height: 390px;
	h3{
		text-align: center;
		@include fontF($arimo, 32px, 600, #fff);
		padding: 50px 0px;
	}
	.pluses{
		.item-block{
			width: 20%; float: left;
			padding: 0px 20px;
			text-align: center;
			@include fontF($ubuntu, 14px, 600, #fff);
			.img-block{
				height: 100px;
				@include align-center-flex;
			}
			.title-block{
				@include fontF($arimo, 18px, 600, #fff);
				height: 65px;
				@include align-center-flex;
				padding: 10px 0px;
			}
		}
	}
}

.bottom-block{
	background: url(../images/formulas.jpg) repeat;
	padding: 50px 0px;
	.b-menu{
		ul{
			li{
				margin: 10px 0px;
				a{
					@include fontF($ubuntu, 18px, 400, #6b7390);
				}
				&:first-child{
					a{
						font-weight: bold; color: #20436b;
					}
				}
			}
		}	
	}
}

.footer{
	background: #449bff;
	padding: 30px 0px;
	color: #fff;
	a{
		color: #fff;
	}
	.copyright{
		font-size: 18px;
		p{
			display: inline-block;
			
		}
	}
	.dc56{
		color: #fff; margin-top: -20px;
		a{
			float: right;
			display: block; width: 225px;
			color: #fff;
			font-size: 16px;
			p{
				line-height: 1.5 !important;
			}
		}
		svg{
			height: 40px; margin-top: 15px;
		}
		p{
			float: right; padding-top: 10px;
			line-height: 1.5 !important;
		}
	}
}